<!DOCTYPE html>
<html>
  <head>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% include meta.html %}
	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">



	<!-- Java Script
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="{{ site.baseurl }}/javascript/jquery-1.8.0.min.js"></script>
	<script src="{{ site.baseurl }}/javascript/james.js"></script>
	<script src="{{ site.baseurl }}/javascript/masonry.pkgd.min.js"></script>

	<script src="{{ site.baseurl }}/javascript/imagesloaded.pkgd.min.js"></script>
	<script src="{{ site.baseurl }}/javascript/isotope.pkgd.min.js"></script>
	<script src="{{ site.baseurl }}/javascript/jquery.lazyload.min.js"></script>



	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/misc/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/misc/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/misc/favicons/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/images/misc/favicons/manifest.json">
	<link rel="mask-icon" href="{{ site.baseurl }}/images/misc/favicons/safari-pinned-tab.svg" color="#00c266">



  {% seo %}
  </head>

  <body>
	<div style="margin-top: 20px;" class="container">
	  <h4><a class="siteName" href="{{ site.baseurl }}/">{{ site.name }}</a></h4>
		<h6>
      {% if page.title=="BSc Computer Science Final Year Dissertation 🖥"  or page.title=="MA Design Specialist Project 🎨" %}
        {{ page.title }}
      {% else %}
        <h6 style="text-align: left; height:3rem" id="para1" ></h6>
      {% endif %}
    </h6>
	    {{ content }}
	    {% include analytics.html %}
	</div>
  </body>
</html>

<script>
var prefix = '';
var skills = [
    'Designer',
    'Developer'
].map(function (s) { return s; });
var delay = 10;
var step = 1;
var tail = 5;
var timeout = 75;
var p1 = document.getElementById('para1');
var colors = [
    "rgb(178,225,171)",
    "rgb(157,201,150)",
    "rgb(71,154,118)",
    "rgb(77,184,154)",
    "rgb(50,159,156)"
];
function getRandomColor() {
    return colors[Math.floor(Math.random() * colors.length)];
}
function getRandomChar() {
    return String.fromCharCode(Math.random() * (127 - 33) + 33);
}
function getRandomColoredString(n) {
    var fragment = document.createDocumentFragment();
    for (var i = 0; i < n; i++) {
        var char = document.createElement('span');
        char.textContent = getRandomChar();
        char.style.color = getRandomColor();
        fragment.appendChild(char);
    }
    return fragment;
}
/** Global State */
var kye = {
    text: '',
    prefixP: -tail,
    skillI: 0,
    skillP: 0,
    direction: 'forward',
    delay: delay,
    step: step,
};
function render() {
    var skill = skills[kye.skillI];
    if (kye.step) {
        kye.step--;
    }
    else {
        kye.step = step;
        if (kye.prefixP < prefix.length) {
            if (kye.prefixP >= 0) {
                kye.text += prefix[kye.prefixP];
            }
            kye.prefixP++;
        }
        else {
            if (kye.direction === 'forward') {
                if (kye.skillP < skill.length) {
                    kye.text += skill[kye.skillP];
                    kye.skillP++;
                }
                else {
                    if (kye.delay) {
                        kye.delay--;
                    }
                    else {
                        kye.direction = 'backward';
                        kye.delay = delay;
                    }
                }
            }
            else {
                if (kye.skillP > 0) {
                    kye.text = kye.text.slice(0, -1);
                    kye.skillP--;
                }
                else {
                    kye.skillI = (kye.skillI + 1) % skills.length;
                    kye.direction = 'forward';
                }
            }
        }
    }
    p1.textContent = kye.text;
    p1.appendChild(getRandomColoredString(kye.prefixP < prefix.length ?
        Math.min(tail, tail + kye.prefixP) :
        Math.min(tail, skill.length - kye.skillP)));
    setTimeout(render, timeout);


}
setTimeout(render, 500);
</script>