<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="svg"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  {% include meta.html %}


	<!-- Mobile Specific Metas
  ================================================== -->
  
  
  
  	<!-- JS
  ================================================== -->
  <script src="jquery-1.8.0.min.js"></script>
  <script src="james.js"></script>
  


	<!-- CSS
  ================================================== -->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lte IE 7]><script src="javascript/lte-ie7.js"></script><![endif]-->


	<!-- Favicons
  ================================================== -->

</head>
  <body id="colour1">
	
<!--
	<div id="nav">
		<ul>
            <li><a href="#" title="Yellow" style="background:yellow;">Yellow</a></li>
            <li><a href="#" title="Cyan" style="background:cyan;">Cyan</a></li>
            <li><a href="#" title="Green" style="background:limegreen;">Green</a></li>
            <li><a href="#" title="Red" style="background:red;">Red</a></li>
            <li><a href="#" title="Blue" style="background:royalblue;">Blue</a></li>
            <li><a href="#" title="Purple" style="background:darkviolet;">Purple</a></li>
            <li><a href="#" title="Pink" style="background:pink;">Pink</a></li>       
            <li><a href="#" title="Orange" style="background:darkorange;">Orange</a></li>
            <li><a href="#" title="Gray" style="background:slategray;">Gray</a></li>
            <li><a href="#" title="Brown" style="background:saddlebrown;">Brown</a></li>

        </ul>
	</div>
-->
	
	
	
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
			
          <div class="site-info" id="colour2">
            <h1 class="site-name" id="colour3">JAMES MILTON</h1>
            
            <h2 id="colour9">sorry colours aren't done yet... keep refreshing</h2>
          </div>
          <nav>

          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <!-- <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div> -->

    {% include analytics.html %}
  </body>
</html>
