<!DOCTYPE html>
<html>
  <head>


    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% include meta.html %}

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">



	<!-- Java Script
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="{{ site.baseurl }}/javascript/jquery-1.8.0.min.js"></script>
	<script src="{{ site.baseurl }}/javascript/james.js"></script>


	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/misc/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/misc/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/misc/favicons/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/images/misc/favicons/manifest.json">
	<link rel="mask-icon" href="{{ site.baseurl }}/images/misc/favicons/safari-pinned-tab.svg" color="#00c266">

  {% seo %}
  </head>

  <body>
	<div style="margin-top: 20px;" class="container">
	    <h4>{{ page.title }}</h4>
		
    <h6>
      {% if page.categories contains "specialistproject" %}
        <a href="{{ site.baseurl }}/">Home</a> / <a href="{{ site.baseurl }}/{{ page.categories | last }}">Specialist Project</a>
      {% else %}
        <a href="{{ site.baseurl }}/">Home</a> / <a href="{{ site.baseurl }}/{{ page.categories | last }}">{{ page.categories | last | capitalize}}</a>
      {% endif %}
    </h6>


	    <div class="postContent">
		    {{ content }}
		  </div>

	    {% include analytics.html %}
	    <footer style="border-top: 1px solid #E1E1E1">

        <div class="PageNavigation">
          {% for post in site.categories.dissertation %}
              {% if post.url == page.url %}
                  {% assign post_index0 = forloop.index0 %}
                  {% assign post_index1 = forloop.index %}
              {% endif %}
          {% endfor %}
          {% for post in site.categories.dissertation %}
              {% if post_index0 == forloop.index %}
                  {% assign next_post = post %}
              {% endif %}
              {% if post_index1 == forloop.index0 %}
                  {% assign prev_post = post %}
              {% endif %}
          {% endfor %}
          {% if next_post %}
              <a href="{{ next_post.url }}">Next Post 👈</a>
          {% endif %}
          {% if prev_post %}
              <a class="next" href="{{ prev_post.url }}">Previous Post 👉</a>
          {% endif %}
		
		
      	  {% for post in site.categories.portfolio %}
                    {% if post.url == page.url %}
                        {% assign post_index0a = forloop.index0 %}
                        {% assign post_index1a = forloop.index %}
                    {% endif %}
                {% endfor %}
                {% for post in site.categories.portfolio %}
                    {% if post_index0a == forloop.index %}
                        {% assign next_posta = post %}
                    {% endif %}
                    {% if post_index1a == forloop.index0 %}
                        {% assign prev_posta = post %}
                    {% endif %}
                {% endfor %}
                {% if next_posta %}
                    <a href="{{ next_posta.url }}">Next Post 👈</a>
                {% endif %}
                {% if prev_posta %}
                    <a class="next" href="{{ prev_posta.url }}">Previous Post 👉</a>
                {% endif %}



          {% for post in site.categories.specialistproject %}
              {% if post.url == page.url %}
                  {% assign post_index0b = forloop.index0 %}
                  {% assign post_index1b = forloop.index %}
              {% endif %}
          {% endfor %}
          {% for post in site.categories.specialistproject %}
              {% if post_index0b == forloop.index %}
                  {% assign next_postb = post %}
              {% endif %}
              {% if post_index1b == forloop.index0 %}
                  {% assign prev_postb = post %}
              {% endif %}
          {% endfor %}
          {% if next_postb %}
              <a href="{{ next_postb.url }}">Next Post 👈</a>
          {% endif %}
          {% if prev_postb %}
              <a class="next" href="{{ prev_postb.url }}">Previous Post 👉</a>
          {% endif %}
		
		
        </div>

		    </br>
        </br>
			<p>Written on {{ page.date | date: "%B %e, %Y" }}</p>
		    <p>© {{site.time | date:'%Y'}} James Milton, unless otherwise noted.</p>
		</footer>
	</div>
  </body>
</html>
